.header-xs {
	background-color: $brand-thick;
	padding: $modal-title-padding;
	@include clearfix;
	.cd-logo {
		padding: 0;
	}
}

.modal-custom {
	.modal-dialog {
		margin: 20px;
		@include MQ(S) {
			margin: 0 auto;
		}
	}
	.modal-dialog, .modal-content {
  	height:auto;
	}
	.header-xs {
		background-color: #fff;
		padding: 10px 20px 0; 
	}
	.modal-body {
		padding: 15px 20px 40px;
	}
}

.modal-custom.modal.in {
	@include MQ(S) {
		display: flex !important;
		@include align-items(center);
	}
}